.all-products img {
  height: 200px;
  width: 100%;
  object-fit: contain;
  display: block;
  margin: 10px;
}

.single-products img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: block;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}
.card-body {
  flex: 1;
}

h6 {
  font-weight: 600;
}
